//Footer Styles

footer{
    background-color: $footer-bg-color;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;

    @media (max-width: 1100px){
        display: block;
        height: 500px;
        text-align: center;
    }

    @media (max-width: 700px){
        display: block;
        height: 500px;
        text-align: center;
    }
}

.footer-title-text{
    font-size: $footer-title-text;
    font-weight: bold;
    
}

.footer-subheader-text{
    font-size: $footer-subheader-text;
}

.footer-body-text{
    font-size: $footer-body-text;
    margin: 5px 0px;

}

.ft-explore-section{

    @media (max-width: 1100px){
        margin: 40px 0px;
    }

    @media (max-width: 700px){
        margin: 40px 0px;
    }
}

.ft-visit-section{

    @media (max-width: 1100px){
        margin: 40px 0px;
    }
    
    @media (max-width: 700px){
        margin: 40px 0px;
    }
}



